<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav">
        <div class="nav-item">
          <%= link_to 'Home', root_path, class: 'anchor active' %>
        </div>
        <div class="nav-item">
          <%= link_to 'About', about_path, class: 'anchor' %>
        </div>
        <div class="nav-item">
          <%= link_to 'Blog', blog_path, class: 'anchor' %>
        </div>
        <div class="nav-item">
          <%= link_to 'Contact', contact_path, class: 'anchor' %>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
